
 body{
     background: url('https://media.giphy.com/media/wJLit4Lyl1sAg/giphy.gif') no-repeat center center fixed;
     background-size: cover;
     text-decoration-color: aliceblue;
     color: #EBDEF0  ;
     text-shadow: 1px 0 3px goldenrod, 1px 2px 5px black;
     margin-top: 60px; /* Add a top margin to avoid content overlay */

 }
h1 {
    text-align: center;
    color: antiquewhite;

}
h2 {
    text-align: center;
    color: ghostwhite;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    padding-top: 40px;
    margin-top: -40px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: saddlebrown;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: palegoldenrod;
    color: #841909
}
